<div class="container">
  <br>
  <section class="col-xs-12 col-sm-6 col-md-12">

    <article class="search-result row">

      <div class="container" class="col-xs-12 col-sm-12 col-md-4">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://www.body-by-rick.com/functionalfitness2_phixr.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
              <img src="http://www.body-by-rick.com/functionalfitness2_phixr.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
              <img src="http://www.body-by-rick.com/functionalfitness2_phixr.jpg" alt="New york" style="width:100%;">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!--<div class="col-xs-12 col-sm-12 col-md-3">-->
        <!--<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://www.body-by-rick.com/functionalfitness2_phixr.jpg" alt="Lorem ipsum" /></a>-->
      <!--</div>-->
      <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
      <h1>{{gym?.name}}</h1>
      <ngb-rating [(rate)]="currentRate">
        <ng-template let-fill="fill">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <hr>
      <ul class="meta-search">
        <li><i class="glyphicon glyphicon-map-marker"></i> <span>{{gym?.city}}</span></li>
        <li><i class="glyphicon glyphicon-map-marker"></i> <span>{{gym?.address}}</span></li>
      </ul>
        <hr>
        <ul>
          <li>{{gym?.price_month}}&euro; / month</li>
          <li>{{gym?.price_3months}}&euro; / 90 days</li>
          <li>{{gym?.price_6months}}&euro; / 180 days</li>
          <li>{{gym?.price_year}}&euro; / year</li>
      </ul>
      </div>
    </article>
    <hr>

    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
      <h4><p class="text-danger">Special offers: {{gym?.offers}}</p></h4>
      <!--<hr>-->
      <h4><p class="text-danger">Facilities: {{gym?.facilities}}</p></h4>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
      <hr>
    <ul class="check_ul">
      <li class="check_li" *ngIf="gym?.spa">Spa</li>
      <li class="check_li" *ngIf="gym?.trx">Trx</li>
      <li class="check_li" *ngIf="gym?.parking">Parking</li>
      <li class="check_li" *ngIf="gym?.sauna">Sauna</li>
      <li class="check_li" *ngIf="gym?.pool">Pool</li>
      <li class="check_li" *ngIf="gym?.zumba">Zumba</li>
      <li class="check_li" *ngIf="gym?.crossfit">Crossfit</li>
      <li class="check_li" *ngIf="gym?.yoga">Yoga</li>
      <li class="check_li" *ngIf="gym?.women_only">Only for women</li>
      <li class="check_li" *ngIf="gym?.pilates">Pilates</li>
    </ul>
    </div>
  </section>

</div>
<hr>
<app-comments></app-comments>
